<!DOCTYPE html>
<html>
<head>
  <title>Tiva Shop</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/mainIndex.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
<div id="container">
    <div id="header" class="clearfix">
      <div id="top-header" class="clearfix">
        <div id="top-header-left">
          <a href="index.html"><img src="../images/home1.png"/></a>
          <a href="#">Hotline: 0121.973.7545 </a>
        </div>
        <div id="search">
          <input type="text" name="search" placeholder="Nhập từ khóa tìm kiếm">
          <a href="#"><img src="../images/search1.png"/></a>
        </div>
        <div id="account">
          <ul>
            <li><a href="login.html">Đăng nhập</a></li>
            <li><a href="register.html">Đăng ký</a></li>
          </ul>
        </div>
        <div id="shopping-cart">
          <a href="shoppingcart.html" title="Giỏ hàng của bạn"><img src="../images/cart-of-ecommerce.png" /></a>
        </div>
        <div id="top-header-right">
          <ul>
            <li><a href="#"><img src="../images/menu.png" /></a></li>
            <li><a href="#"><img src="../images/user.png" /></a>
              <ul>
                <li><a href="login.html">Đăng nhập</a></li>
                <li><a href="register.html">Đăng ký</a></li>
              </ul>
            </li>
            <li><a href="#" title="Giỏ hàng của bạn"><img src="../images/bag.png" /></a></li>
            <li><a href="#"><img src="../images/searching.png" /></a></li>
          </ul>
        </div>
      </div>
      <div id="bottom-header" class="clearfix">
        <span class="text1"><a href="listproduct.html">Sản phẩm bán chạy</a></span>
        <span class="logo"><a href="index.html"><img src="../images/logo.png"></a></span>
        <span class="text2"><a href="listproduct.html">Sản phẩm mới</a></span>
      </div>
    </div>
    <div id="menu">
      <ul id="nav-menu" class="clearfix">
        <li><a href="#">DANH MỤC SẢN PHẨM</a>
          <ul class="product-menu shown-menu">
            <li>
              <div class="product-menu-small">
                <a href="listproduct.html">
                  <img src="../images/face1.png" />
                  <p>CHĂM SÓC DA MẶT</p>
                </a>
                <ul>
                  <li><a href="listproduct.html">Sửa rửa mặt</a></li>
                  <li><a href="listproduct.html">Tẩy tế bào chết</a></li>
                  <li><a href="listproduct.html">Dưỡng mắt - Dài mi</a></li>
                  <li><a href="listproduct.html">Tẩy trang</a></li>
                  <li><a href="listproduct.html">Nước hoa hồng</a></li>
                  <li><a href="listproduct.html">Mặt nạ cho da mặt</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="product-menu-small">
                <a href="listproduct.html">
                  <img src="../images/cream.png" />
                  <p>CHĂM SÓC TOÀN THÂN</p>
                </a>
                <ul>
                  <li><a href="listproduct.html">Sữa tắm - Tẩy tế bào chết</a></li>
                  <li><a href="listproduct.html">Chăn sóc da tay</a></li>
                  <li><a href="listproduct.html">Kem tẩy lông - Wax lông</a></li>
                  <li><a href="listproduct.html">Kem dưỡng</a></li>
                  <li><a href="listproduct.html">Đặc trị vùng nách</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="product-menu-small">
                <a href="listproduct.html">
                  <img src="../images/hair.png" />
                  <p>CHĂM SÓC TÓC</p>
                </a>
                <ul>
                  <li><a href="listproduct.html">Dưỡng tóc</a></li>
                  <li><a href="listproduct.html">Lô tạo kiểu không nhiệt</a></li>
                  <li><a href="listproduct.html">Máy tạo kiểu tóc</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="product-menu-small">
                <a href="listproduct.html">
                  <img src="../images/valentines.png" />
                  <p>MỸ PHẨM TRANG ĐIỂM</p>
                </a>
                <ul>
                  <li><a href="listproduct.html">Kem chống nắng</a></li>
                  <li><a href="listproduct.html">Che khuyết điểm - Hightlight</a></li>
                  <li><a href="listproduct.html">Kem lót</a></li>
                  <li><a href="listproduct.html">Kem nền</a></li>
                  <li><a href="listproduct.html">Phấn má hồng</a></li>
                  <li><a href="listproduct.html">Phấn nền - phấn phủ</a></li>
                  <li><a href="listproduct.html">Son</a></li>
                  <li><a href="listproduct.html">Trang điểm mắt</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li><a href="introduction.html">GIỚI THIỆU</a></li>
        <li><a href="news.html">TIN TỨC</a></li>
        <li><a href="reviewproduct.html">TẠP CHÍ SẢN PHẨM</a></li>
        <li><a href="handbook.html">CẨM NANG LÀM ĐẸP</a></li>
      </ul>
    </div>
    <div id="sale-off">
      <a href="sale.html"><p>KHUYẾN MÃI</p></a>
      <div id="cssSlider" class="clearfix">
        <div id="slideDiv">
          <!-- chay dc 8 the div -->
          <div class="itemInformation">
            <a href="productdetail.html"><img src="../images/sale/missha-line-sebum-zero-sun-225x300.jpg"/></a>
            <div class="information">
              <ul>
                <li>KEM CHỐNG NẮNG MISSHA LINE FRIENDS SEBUM ZERO SUN SPF50+ PA+++</liclass>
                <li>110.000</li>
                <li>SALE 20%</li>
              </ul>
            </div>
          </div>
          <div class="itemInformation">
            <a href="productdetail.html"><img src="../images/sale/BB-CREAM-THE-FACE-SHOP-POWER-PERFECTION-SPF37-PA-225x300.jpg"/></a>
            <div class="information">
              <ul>
                <li>BB CREAM THE FACE SHOP POWER PERFECTION SPF37 PA++</li>
                <li>120.000</li>
                <li>SALE 20%</li>
              </ul>
            </div>
          </div>
          <div class="itemInformation">
            <a href="productdetail.html"><img src="../images/sale/kem-chong-nang-the-face-shop-natural-sun-eco-spf40-225x300.jpg"/></a>
            <div class="information">
              <ul>
                <li>KEM CHỐNG NẮNG THE FACE SHOP NATURAL SUN ECO NO SHINE HYDRATING SUN CREAM SPF40 PA+++</li>
                <li>120.000</li>
                <li>SALE 20%</li>
              </ul>
            </div>
          </div>
          <div class="itemInformation">
            <a href="productdetail.html"><img src="../images/sale/missha-line-friends-mild-sun-225x300.jpg"/></a>
            <div class="information">
              <ul>
                <li>KEM CHỐNG NẮNG MISSHA LINE FRIENDS MILD SUN SPF30/PA++</li>
                <li>120.000</li>
                <li>SALE 20%</li>
              </ul>
            </div>
          </div>
          <div class="itemInformation">
            <a href="productdetail.html"><img src="../images/sale/REVLON-ULTRA-HD-LIP-LACQUER-wm-225x300.jpg"/></a>
            <div class="information">
              <ul>
                <li>SON REVLON ULTRA HD LIP LACQUER</li>
                <li>100.000</li>
                <li>SALE 20%</li>
              </ul>
            </div>
          </div>
          <div class="itemInformation">
            <a href="productdetail.html"><img src="../images/sale/phan-phu-hera-uv-mist-cushion-cover.jpg"/></a>
            <div class="information">
              <ul>
                <li>PHẤN NƯỚC HERA UV MIST CUSHION COVER SPF50+ PA+++ C21</li>
                <li>120.000</li>
                <li>SALE 20%</li>
              </ul>
            </div>
          </div>
          <div class="itemInformation">
            <a href="productdetail.html"><img src="../images/sale/sonson.jpg"/></a>
            <div class="information">
              <ul>
                <li>SON LÌ DẠNG KEM COLOR LIPS FIT ETUDE HOUSE</li>
                <li>120.000</li>
                <li>SALE 20%</li>
              </ul>
            </div>
          </div>
          <div class="itemInformation">
            <a href="productdetail.html"><img src="../images/sale/son-rire1-225x300.jpg"/></a>
            <div class="information">
              <ul>
                <li>SON RIRE LIPMANICURE HIGH FIX</li>
                <li>120.000</li>
                <li>SALE 20%</li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    <div id="content">
      <div class="Product">
        <h3>Chăm sóc da mặt</h3>
        <hr>
        <div class="productContent">
          <div class="itemProduct">
            <a href="productdetail.html"><img src="../images/face/SRM/SRM3W.jpg"/></a>
            <div class="informationProduct">
              <ul>
                <li>Sữa rửa mặt 3W Clinic Brown Rice</li>
                <li>60.000</li>
                <li>
                  <a href="shoppingcart.html" title="Thêm vào giỏ hàng">
                    <img src="../images/shopping-cart.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="itemProduct">
            <a href="productdetail.html"><img src="../images/face/TBC/tay-bao-chet-arrahan-peeling-gel1-450x600.jpg"/></a>
            <div class="informationProduct">
              <ul>
                <li>Gel tẩy tế bào chết Arrahan Peeling Gel</li>
                <li>120.000</li>
                <li>
                  <a href="shoppingcart.html" title="Thêm vào giỏ hàng">
                    <img src="../images/shopping-cart.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="itemProduct">
            <a href="productdetail.html"><img src="../images/face/TBC/bot-tay-te-bao-chet-methi-the-herbalcup1-450x600.jpg"/></a>
            <div class="informationProduct">
              <ul>
                <li>Bột Tẩy Tế Bào Chết The Herbal Cup Collagen Methi Powder Scrub</li>
                <li>154.000</li>
                <li>
                  <a href="shoppingcart.html" title="Thêm vào giỏ hàng">
                    <img src="../images/shopping-cart.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <a href="listproduct.html">Xem tiếp sản phẩm ....</a>
      </div>
      <div class="Product">
        <h3>Chăm sóc toàn thân</h3>
        <hr>
        <div class="productContent">
          <div class="itemProduct">
            <a href="#"><img src="../images/body/CST/chamsoctay1.jpg"/></a>
            <div class="informationProduct">
              <ul>
                <li>GEL RỬA TAY KHÔ DIỆT KHUẨN BATH & BODY WORKS POCKETBAC</li>
                <li>30.000</li>
                <li>
                  <a href="shoppingcart.html" title="Thêm vào giỏ hàng">
                    <img src="../images/shopping-cart.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="itemProduct">
            <a href="#"><img src="../images/body/ST/organic-coffeesugar-body-scrub-450x600.jpg"/></a>
            <div class="informationProduct">
              <ul>
                <li>Tẩy da chết toàn thân Organic Coffee & Sugar Body Scrub</li>
                <li>180.000</li>
                <li>
                  <a href="shoppingcart.html" title="Thêm vào giỏ hàng">
                    <img src="../images/shopping-cart.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <a href="listproduct.html">Xem tiếp sản phẩm ....</a>
      </div>
      <div class="Product">
        <h3>Chăm sóc tóc</h3>
        <hr>
        <div class="productContent">
          <div class="itemProduct">
            <a href="#"><img src="../images/hair/DAU-GOI-DAU-AVALON-ORGANICS-SHAMPOO1-450x600.jpg"/></a>
            <div class="informationProduct">
              <ul>
                <li>Dầu Gội Avalon Organics Shampoo</li>
                <li>280.000</li>
                <li>
                  <a href="shoppingcart.html" title="Thêm vào giỏ hàng">
                    <img src="../images/shopping-cart.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="itemProduct">
            <a href="#"><img src="../images/hair/may-4-Trong-1-SHINON-SH-8005.2-450x600.jpg"/></a>
            <div class="informationProduct">
              <ul>
                <li>Máy Uốn Duỗi Bấm 3 Trong 1 SHINON SH-8005</li>
                <li>240.000</li>
                <li>
                  <a href="shoppingcart.html" title="Thêm vào giỏ hàng">
                    <img src="../images/shopping-cart.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <a href="#">Xem tiếp sản phẩm ....</a>
      </div>
      <div class="Product">
        <h3>Mỹ phẩm trang điểm</h3>
        <hr>
        <div class="productContent">
          <div class="itemProduct">
            <a href="#"><img src="../images/cosmetic/revlon-cream-blush-450x600.jpg"/></a>
            <div class="informationProduct">
              <ul>
                <li>Má Hồng Kem Revlon Cream Blush</li>
                <li>200.000</li>
                <li>
                  <a href="shoppingcart.html" title="Thêm vào giỏ hàng">
                    <img src="../images/shopping-cart.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="itemProduct">
            <a href="#"><img src="../images/cosmetic/Bourjois-Rouge-Edition-Velvet-Liquid-Lipstick0-450x600.jpg"/></a>
            <div class="informationProduct">
              <ul>
                <li>Son Bourjois Rouge Edition Velvet Liquid Lipstick</li>
                <li>280.000</li>
                <li>
                  <a href="shoppingcart.html" title="Thêm vào giỏ hàng">
                    <img src="../images/shopping-cart.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="itemProduct">
            <a href="#"><img src="../images/cosmetic/kem-chong-nang-the-face-shop-natural-sun-eco-spf50.2-450x600.jpg"/></a>
            <div class="informationProduct">
              <ul>
                <li>Xịt Chống Nắng The Face Shop Natural Sun ECO Ice Air Puff Sun SPF50+ PA+++</li>
                <li>220.000</li>
                <li>
                  <a href="shoppingcart.html" title="Thêm vào giỏ hàng">
                    <img src="../images/shopping-cart.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="itemProduct">
            <a href="#"><img src="../images/cosmetic/BEAUTY-TREATS-CONCEALER-CONTOUR-COLLECTION-450x600.jpg"/></a>
            <div class="informationProduct">
              <ul>
                <li>Kem Che Khuyết Điểm, Tạo Khối 6 Ô Beauty Treats Concealer & Contour Collection</li>
                <li>180.000</li>
                <li>
                  <a href="shoppingcart.html" title="Thêm vào giỏ hàng">
                    <img src="../images/shopping-cart.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <a href="#">Xem tiếp sản phẩm ....</a>
      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; TivaShop | Design by Van Vy</p>
    </div>
</div>
</body>
</html>
