<!DOCTYPE html>
<html>
<head>
  <title>Tiva Shop</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/mainIndex.css" />
  <link rel="stylesheet" href="../styles/main.css" />
</head>
<body>
<div id="container">
    <div id="header" class="clearfix">
      <div id="top-header" class="clearfix">
        <div id="top-header-left">
          <a href="index.html"><img src="../images/home1.png"/></a>
          <a href="#">Hotline: 0121.973.7545 </a>
        </div>
        <div id="search">
          <input type="text" name="search" placeholder="Nhập từ khóa tìm kiếm">
          <a href="#"><img src="../images/search1.png"/></a>
        </div>
        <div id="account">
          <ul>
            <li><a href="login.html">Đăng nhập</a></li>
            <li><a href="register.html">Đăng ký</a></li>
          </ul>
        </div>
        <div id="shopping-cart">
          <a href="shoppingcart.html" title="Giỏ hàng của bạn"><img src="../images/cart-of-ecommerce.png" /></a>
        </div>
        <div id="top-header-right">
          <ul>
            <li><a href="#"><img src="../images/menu.png" /></a></li>
            <li><a href="#"><img src="../images/user.png" /></a></li>
            <li><a href="#" title="Giỏ hàng của bạn"><img src="../images/bag.png" /></a></li>
            <li><a href="#"><img src="../images/searching.png" /></a></li>
          </ul>
        </div>
      </div>
      <div id="bottom-header" class="clearfix">
        <span class="text1"><a href="listproduct.html">Sản phẩm bán chạy</a></span>
        <span class="logo"><a href="index.html"><img src="../images/logo.png"></a></span>
        <span class="text2"><a href="listproduct.html">Sản phẩm mới</a></span>
      </div>
    </div>
    <div id="menu">
      <ul id="nav-menu" class="clearfix">
        <li><a href="#">DANH MỤC SẢN PHẨM</a>
          <ul class="product-menu shown-menu">
            <li>
              <div class="product-menu-small">
                <a href="listproduct.html">
                  <img src="../images/face1.png" />
                  <p>CHĂM SÓC DA MẶT</p>
                </a>
                <ul>
                  <li><a href="listproduct.html">Sửa rửa mặt</a></li>
                  <li><a href="listproduct.html">Tẩy tế bào chết</a></li>
                  <li><a href="listproduct.html">Dưỡng mắt - Dài mi</a></li>
                  <li><a href="listproduct.html">Tẩy trang</a></li>
                  <li><a href="listproduct.html">Nước hoa hồng</a></li>
                  <li><a href="listproduct.html">Mặt nạ cho da mặt</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="product-menu-small">
                <a href="listproduct.html">
                  <img src="../images/cream.png" />
                  <p>CHĂM SÓC TOÀN THÂN</p>
                </a>
                <ul>
                  <li><a href="listproduct.html">Sữa tắm - Tẩy tế bào chết</a></li>
                  <li><a href="listproduct.html">Chăn sóc da tay</a></li>
                  <li><a href="listproduct.html">Kem tẩy lông - Wax lông</a></li>
                  <li><a href="listproduct.html">Kem dưỡng</a></li>
                  <li><a href="listproduct.html">Đặc trị vùng nách</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="product-menu-small">
                <a href="listproduct.html">
                  <img src="../images/hair.png" />
                  <p>CHĂM SÓC TÓC</p>
                </a>
                <ul>
                  <li><a href="listproduct.html">Dưỡng tóc</a></li>
                  <li><a href="listproduct.html">Lô tạo kiểu không nhiệt</a></li>
                  <li><a href="listproduct.html">Máy tạo kiểu tóc</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="product-menu-small">
                <a href="listproduct.html">
                  <img src="../images/valentines.png" />
                  <p>MỸ PHẨM TRANG ĐIỂM</p>
                </a>
                <ul>
                  <li><a href="listproduct.html">Kem chống nắng</a></li>
                  <li><a href="listproduct.html">Che khuyết điểm - Hightlight</a></li>
                  <li><a href="listproduct.html">Kem lót</a></li>
                  <li><a href="listproduct.html">Kem nền</a></li>
                  <li><a href="listproduct.html">Phấn má hồng</a></li>
                  <li><a href="listproduct.html">Phấn nền - phấn phủ</a></li>
                  <li><a href="listproduct.html">Son</a></li>
                  <li><a href="listproduct.html">Trang điểm mắt</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li><a href="introduction.html">GIỚI THIỆU</a></li>
        <li><a href="news.html">TIN TỨC</a></li>
        <li><a href="reviewproduct.html">TẠP CHÍ SẢN PHẨM</a></li>
        <li><a href="handbook.html">CẨM NANG LÀM ĐẸP</a></li>
      </ul>
    </div>
    <div id="sale-off">
      <a href="sale.html"><p>KHUYẾN MÃI</p></a>
    </div>
    <div id="content" class="clearfix">
      <p>CHĂM SÓC DA MẶT</p>
      <div class="listImages clearfix">
        <div class="itemProduct">
          <a href="productdetail.html"><img src="../images/body/CST/chamsoctay1.jpg"/></a>
          <div class="informationProduct">
            <ul>
              <li>GEL RỬA TAY KHÔ DIỆT KHUẨN BATH & BODY WORKS POCKETBAC</li>
              <li>30.000</li>
              <li>
                <a href="#" title="Thêm vào giỏ hàng">
                  <img src="../images/shopping-cart.png" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; TivaShop | Design by Van Vy</p>
    </div>
</div>
</body>
</html>
