<!DOCTYPE html>
<html>
<head>
  <title>Tiva Shop</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/mainIndex.css" />
  <link rel="stylesheet" href="../styles/main.css" />
</head>
<body>
<div id="container">
    <div id="header" class="clearfix">
      <div id="top-header" class="clearfix">
        <div id="top-header-left">
          <a href="index.html"><img src="../images/home1.png"/></a>
          <a href="#">Hotline: 0121.973.7545 </a>
        </div>
        <div id="search">
          <form>
            <input type="text" name="search" placeholder="Nhập từ khóa tìm kiếm">
          </form>
          <a href="#"><img src="../images/search1.png"/></a>
        </div>
        <div id="account">
          <ul>
            <li><a href="login.html">Đăng nhập</a></li>
            <li><a href="register.html">Đăng ký</a></li>
          </ul>
        </div>
        <div id="shopping-cart">
          <a href="shoppingcart.html" title="Giỏ hàng của bạn"><img src="../images/cart-of-ecommerce.png" /></a>
        </div>
        <div id="top-header-right">
          <ul>
            <li><a href="#"><img src="../images/menu.png" /></a></li>
            <li><a href="#"><img src="../images/user.png" /></a></li>
            <li><a href="#" title="Giỏ hàng của bạn"><img src="../images/bag.png" /></a></li>
            <li><a href="#"><img src="../images/searching.png" /></a></li>
          </ul>
        </div>
      </div>
      <div id="bottom-header" class="clearfix">
        <span class="text1"><a href="listproduct.html">Sản phẩm bán chạy</a></span>
        <span class="logo"><a href="index.html"><img src="../images/logo.png"></a></span>
        <span class="text2"><a href="listproduct.html">Sản phẩm mới</a></span>
      </div>
    </div>
    <div id="menu">
      <ul id="nav-menu" class="clearfix">
        <li><a href="#">DANH MỤC SẢN PHẨM</a>
          <ul class="product-menu shown-menu">
            <li>
              <div class="product-menu-small">
                <a href="listproduct.html">
                  <img src="../images/face1.png" />
                  <p>CHĂM SÓC DA MẶT</p>
                </a>
                <ul>
                  <li><a href="listproduct.html">Sửa rửa mặt</a></li>
                  <li><a href="listproduct.html">Tẩy tế bào chết</a></li>
                  <li><a href="listproduct.html">Dưỡng mắt - Dài mi</a></li>
                  <li><a href="listproduct.html">Tẩy trang</a></li>
                  <li><a href="listproduct.html">Nước hoa hồng</a></li>
                  <li><a href="listproduct.html">Mặt nạ cho da mặt</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="product-menu-small">
                <a href="listproduct.html">
                  <img src="../images/cream.png" />
                  <p>CHĂM SÓC TOÀN THÂN</p>
                </a>
                <ul>
                  <li><a href="listproduct.html">Sữa tắm - Tẩy tế bào chết</a></li>
                  <li><a href="listproduct.html">Chăn sóc da tay</a></li>
                  <li><a href="listproduct.html">Kem tẩy lông - Wax lông</a></li>
                  <li><a href="listproduct.html">Kem dưỡng</a></li>
                  <li><a href="listproduct.html">Đặc trị vùng nách</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="product-menu-small">
                <a href="listproduct.html">
                  <img src="../images/hair.png" />
                  <p>CHĂM SÓC TÓC</p>
                </a>
                <ul>
                  <li><a href="listproduct.html">Dưỡng tóc</a></li>
                  <li><a href="listproduct.html">Lô tạo kiểu không nhiệt</a></li>
                  <li><a href="listproduct.html">Máy tạo kiểu tóc</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="product-menu-small">
                <a href="listproduct.html">
                  <img src="../images/valentines.png" />
                  <p>MỸ PHẨM TRANG ĐIỂM</p>
                </a>
                <ul>
                  <li><a href="listproduct.html">Kem chống nắng</a></li>
                  <li><a href="listproduct.html">Che khuyết điểm - Hightlight</a></li>
                  <li><a href="listproduct.html">Kem lót</a></li>
                  <li><a href="listproduct.html">Kem nền</a></li>
                  <li><a href="listproduct.html">Phấn má hồng</a></li>
                  <li><a href="listproduct.html">Phấn nền - phấn phủ</a></li>
                  <li><a href="listproduct.html">Son</a></li>
                  <li><a href="listproduct.html">Trang điểm mắt</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li><a href="introduction.html">GIỚI THIỆU</a></li>
        <li><a href="news.html">TIN TỨC</a></li>
        <li><a href="reviewproduct.html">TẠP CHÍ SẢN PHẨM</a></li>
        <li><a href="handbook.html">CẨM NANG LÀM ĐẸP</a></li>
      </ul>
    </div>
    <div id="sale-off">
      <a href="sale.html"><p>KHUYẾN MÃI</p></a>
    </div>
    <div id="content" class="clearfix">
      <div class="title">
        <ul>
          <li><a href="listproduct.html">Chăm sóc da mặt</a></li>
          <li><a href="listproduct.html">Tẩy tế bào chết</a></li>
        </ul>
      </div>
      <div class="productDetail">
        <div class="productdetailImage">
          <img src="../images/face/TBC/bot-tay-te-bao-chet-methi-the-herbalcup1-450x600.jpg" />
        </div>
        <div class="productdetailContent">
          <ul>
            <li>Bột Tẩy Tế Bào Chết The Herbal Cup Collagen Methi Powder Scrub</li>
            <li>154.000 VNĐ</li>
            <li>Thương hiệu: The Herbal Cup</li>
            <li>Xuất xứ: Việt Nam</li>
            <li>Trọng lượng: 100gr</li>
            <li>Còn hàng</li>
            <li>
              <div class="shoppingAdd">
                <form>
                  <input name="soluong" type="number" value="1" />
                </form>
                <a href="shoppingcart.html">Thêm vào giỏ hàng</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="description clearfix">
        <div class="titleDescription">
          Mô tả
        </div>
        <hr>
        <div class="descriptionContent">
          <p>
            Cùng với sự phát triển của xã hội, nhu cầu sống của con người ngày càng được nâng cao và nhu cầu được sử dụng những sản phẩm tự nhiên tăng lên khiến cho xu hướng mỹ phẩm thiên ngày càng được ưu chuộng. TheHerbalCup là một trong những thương hiệu mỹ phẩm đầu tiên cam kết 100% sản phẩm có nguồn gốc tự nhiên. Mỗi sản phẩm TheHerbalCup đều đảm bảo:
            100% nguồn gốc tự nhiên, với nguồn nguyên liệu tươi được sử dụng từ những nhà vườn uy tín, không sử dụng bất kỳ hóa chất nào trong quá trình chăm sóc. An toàn tuyệt đối cho da, từ quá trình nghiên cứu sản phẩm cho đến kiểm nghiệm lâm sàng đều được theo dõi gắt gao nhằm đem đến cho khách hàng những sản phẩm dịu nhẹ không gây kích ứng.
          </p>
          <img src="../images/face/TBC/maxresdefault.jpg" />
        </div>
      </div>
      <div class="description">
        <div class="titleDescription">
          Sản phẩm liên quan
        </div>
        <hr>
        <div class="descriptionImage">
          <div class="itemProduct">
            <a href="productdetail.html"><img src="../images/face/SRM/SRM3W.jpg"/></a>
            <div class="informationProduct">
              <ul>
                <li>Gel rửa tay khô diệt khuẩn Bath & Body works pocketbacson rire lipmanicure high fix</li>
                <li>60.000</li>
                <li>
                  <a href="shoppingcart.html" title="Thêm vào giỏ hàng">
                    <img src="../images/shopping-cart.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; TivaShop | Design by Van Vy</p>
    </div>
</div>
</body>
</html>
